<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>One Community</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    {{#each importedCss}}
    <!-- Partial Start: {{this.partial}} -->
    {{> (partial this.partial)}}

    <!-- Partial End: {{this.partial}} -->

    {{/each}}
</head>

<body>

<header>
    <nav class="nav-color blue lighten-4">
        <div class="nav-wrapper ">
            <a href="/" class="brand-logo blue-grey-text darken-4">onecommunity</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons blue-grey-text darken-4">menu</i></a>

            <ul class="right hide-on-med-and-down">
                {{#if session_user}}
                <li> <a class="waves-effect waves-light btn modal-trigger blue darken-3" href="#modal5">Provide a service</a></li>
<!--                <button data-target="modal3" class="btn modal-trigger blue darken-3">Provide a service</button>-->
                <li><a class="waves-effect waves-light btn modal-trigger blue darken-3" href="#modal4">Request a service</a></li>
<!--                <button data-target="modal4" class="btn modal-trigger blue darken-3">Request a service</button>-->
                {{/if}}
                <li><a href="/browse" class="blue-grey-text darken-4">Browse</a></li>
                <li><a href="/about" class="blue-grey-text darken-4">About</a></li>
                <li><a href="/contact" class="blue-grey-text darken-4">Contact</a></li>
                {{#if session_user}}
                <li>Logged in as: {{session_user.user_name}}</li>
                <li><a class="waves-effect waves-light btn modal-trigger blue darken-3" href="/logout">Logout</a></li>
                {{else}}
                <li><a class="waves-effect waves-light btn modal-trigger blue darken-3" href="#modal3">Sign up</a></li>
                <li><a class="waves-effect waves-light btn modal-trigger blue darken-3" href="#modal2">Login</a></li>
                {{/if}}
            </ul>
        </div>
    </nav>

    <ul class="sidenav nav-color" id="mobile-demo">
        <li><a href="/browse">Browse</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        {{#if session_user}}
        <li> <a class="waves-effect waves-light btn modal-trigger blue darken-3" href="#modal5">Provide a service</a></li>
        <li><a class="waves-effect waves-light btn modal-trigger blue darken-3" href="#modal4">Request a service</a></li>
        <li>Logged in as: {{session_user.user_name}}</li>
        <li><a class="waves-effect waves-light btn modal-trigger blue darken-3" href="/logout">Logout</a></li>
        {{else}}
        <li><a class="waves-effect waves-light btn modal-trigger blue darken-3" href="#modal3">Sign up</a></li>
        <li><a class="waves-effect waves-light btn modal-trigger blue darken-3" href="#modal2">Login</a></li>
        {{/if}}
        <li><a class="waves-effect waves-light btn modal-trigger blue darken-3" href="#modal1">Contributions</a></li>
    </ul>

    <!-- Modal Structure 1  CREDIT FOR BACKGROUND IMAGE-->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4 class="blue-text">Contributors</h4>
            <p><a href="https://www.freepik.com/free-photos-vectors/background" target="_blank">Background photo created by jcomp - www.freepik.com</a></p>
        </div>
    </div>


        <!-- Modal Structure 2 LOGIN-->
        <div id="modal2" class="modal">
            <form class="modal-content" id="login-form">
                <div class="modal-content">
                    <h4 class="vol-modal-p">Log into an account</h4>
                    <h5 class="vol-modal-p">Fill out your details to log into our community!</h5>
                    <div class="container">
                        <div class="row">
                            <div class="input-field col s12 m5">
                                <input name="email" id="login-email" type="text" class="validate">
                                <label for="login-email">E-mail Address</label>
                            </div>
                            <div class="input-field col s12">
                                <input name="password" id="login-password" type="password" class="validate">
                                <label for="login-password">Password</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col s6">
                            <button class="btn waves-effect waves-light grey" type="button" onclick="M.modal.getInstance(document.getElementById('modal2')).close();"><i class="material-icons right">close</i>Cancel</button>
                        </div>
                        <div class="col s6">
                            <button class="btn waves-effect waves-light blue darken-3" type="submit"><i class="material-icons right">send</i>Sign In</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        {{!-- MODAL STRUCTURE 3 SIGN UP--}}

        <!-- The Modal (contains the Sign Up form) -->
        <div id="modal3" class="modal">
            <form class="modal-content" id="signup-form">
                <div class="modal-content">
                    <h4 class="vol-modal-p">Sign up for an account</h4>
                    <h5 class="vol-modal-p">Fill out your details to become a member of our community!</h5>
                    <div class="container">
                        <div class="row">
                            <div class="input-field col s12 m5">
                                <input name="user_name" id="signup-name" type="text" class="validate">
                                <label for="signup-name">Name</label>
                            </div>
                            <div class="input-field col s12 m5">
                                <input name="email" id="signup-email" type="text" class="validate">
                                <label for="signup-email">E-mail Address</label>
                            </div>
                            <div class="input-field col s12 m2">
                                <input name="zipcode" id="signup-zipcode" type="text" class="validate">
                                <label for="signup-zipcode">Zip Code</label>
                            </div>
                            <div class="input-field col s12">
                                <input name="password" id="signup-password" type="password" class="validate">
                                <label for="signup-password">Password</label>
                            </div>
                            <div class="input-field col s12">
                                <textarea name="about_me" id="signup-about" class="materialize-textarea" data-length="500"></textarea>
                                <label for="signup-about">About You</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms &amp; Privacy</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col s6">
                            <button class="btn waves-effect waves-light grey" type="button" onclick="M.modal.getInstance(document.getElementById('modal3')).close();"><i class="material-icons right">close</i>Cancel</button>
                        </div>
                        <div class="col s6">
                            <button class="btn waves-effect waves-light blue darken-3" type="submit"><i class="material-icons right">send</i>Sign Up</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    <!-- VOLUNTEER -->
    <!--<button data-target="modal3" class="btn modal-trigger blue darken-3">Provide a service</button>-->

    <!-- Modal Structure -->
    <div id="modal5" class="modal">
        <form id="provide-service-form">
            <div class="modal-content">
                <h4 class="vol-modal-p">Provide a service</h4>
                <h5 class="vol-modal-p">Fill out what service you would like to provide and when</h5>
                <div class="container">
                    <div class="row">
                        <div class="input-field col s8 push-s2">
                            <select id="providedService-services">
                                <optgroup label="Pet">
                                    <option value="1">Grooming</option>
                                    <option value="2">Walking</option>
                                    <option value="3">Playdate</option>
                                    <option value="4">Boarding</option>
                                    <option value="5">Sitting</option>
                                    <option value="6">Other</option>
                                </optgroup>
                                <optgroup label="Delivery">
                                    <option value="7">Meal</option>
                                    <option value="8">Groceries</option>
                                    <option value="9">Other</option>
                                </optgroup>
                                <optgroup label="Household">
                                    <option value="10">Cleaning</option>
                                    <option value="11">Moving</option>
                                    <option value="12">Unpacking</option>
                                    <option value="13">Furniture Assembly</option>
                                    <option value="14">Mounting</option>
                                    <option value="15">Home Repairs</option>
                                    <option value="16">Plumbing</option>
                                    <option value="17">Painting</option>
                                    <option value="18">Yard Work</option>
                                    <option value="19">Installation</option>
                                    <option value="20">Other</option>
                                </optgroup>
                                <optgroup label="Professional">
                                    <option value="21">Taxes</option>
                                    <option value="22">Finances</option>
                                    <option value="23">Budgeting</option>
                                    <option value="24">Tutoring</option>
                                    <option value="25">Other</option>
                                </optgroup>
                                <optgroup label="Community Events">
                                    <option value="26">Soup Kitchen</option>
                                    <option value="27`">Food Bank</option>
                                    <option value="28">Public Health</option>
                                    <option value="29">Other</option>
                                </optgroup>
                                <optgroup label="Other">
                                    <option value="30">Other</option>
                                </optgroup>
                            </select>
                            <label>Services</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4">
                            <p>Available Start Time:</p>
                        </div>
                        <div class="col s4">
                            <label for="providedService-beginDate">Begin Date</label>
                            <input type="text" id="providedService-beginDate" class="datepicker">
                        </div>
                        <div class="col s4">
                            <label for="providedService-beginTime">Begin Time</label>
                            <input type="text" id="providedService-beginTime" class="timepicker">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4">
                            <p>Available End Time:</p>
                        </div>
                        <div class="col s4">
                            <label for="providedService-endDate">End Date</label>
                            <input type="text" id="providedService-endDate" class="datepicker">
                        </div>
                        <div class="col s4">
                            <label for="providedService-endTime">End Time</label>
                            <input type="text" id="providedService-endTime" class="timepicker">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn waves-effect waves-light blue darken-3" type="submit"><i class="material-icons right">send</i>submit</button>
            </div>
        </form>
    </div>

    <!-- REQUEST SERVICE -->
    <!--<button data-target="modal4" class="btn modal-trigger blue darken-3">Request a service</button>-->

    <!-- Modal Structure -->
    <div id="modal4" class="modal">
        <form id="request-service-form">
            <div class="modal-content">
                <h4 class="vol-modal-p">Request a service</h4>
                <h5 class="vol-modal-p">Fill out what service you would like to request and when</h5>
                <div class="container">
                    <div class="row">
                        <div class="input-field col s8 push-s2">
                            <select id="request-services">
                                <optgroup label="Pet">
                                    <option value="1">Grooming</option>
                                    <option value="2">Walking</option>
                                    <option value="3">Playdate</option>
                                    <option value="4">Boarding</option>
                                    <option value="5">Sitting</option>
                                    <option value="6">Other</option>
                                </optgroup>
                                <optgroup label="Delivery">
                                    <option value="7">Meal</option>
                                    <option value="8">Groceries</option>
                                    <option value="9">Other</option>
                                </optgroup>
                                <optgroup label="Household">
                                    <option value="10">Cleaning</option>
                                    <option value="11">Moving</option>
                                    <option value="12">Unpacking</option>
                                    <option value="13">Furniture Assembly</option>
                                    <option value="14">Mounting</option>
                                    <option value="15">Home Repairs</option>
                                    <option value="16">Plumbing</option>
                                    <option value="17">Painting</option>
                                    <option value="18">Yard Work</option>
                                    <option value="19">Installation</option>
                                    <option value="20">Other</option>
                                </optgroup>
                                <optgroup label="Professional">
                                    <option value="21">Taxes</option>
                                    <option value="22">Finances</option>
                                    <option value="23">Budgeting</option>
                                    <option value="24">Tutoring</option>
                                    <option value="25">Other</option>
                                </optgroup>
                                <optgroup label="Community Events">
                                    <option value="26">Soup Kitchen</option>
                                    <option value="27`">Food Bank</option>
                                    <option value="28">Public Health</option>
                                    <option value="29">Other</option>
                                </optgroup>
                                <optgroup label="Other">
                                    <option value="30">Other</option>
                                </optgroup>
                            </select>
                            <label>Services</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8 push-s2">
                            <textarea id="request-details" class="materialize-textarea" data-length="500"></textarea>
                            <label for="request-details">Details</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <label>
                                <input type="checkbox" id="request-hide-address">
                                <span>Hide Address Publicly</span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="request-address" type="text" class="validate">
                            <label for="request-address">Address</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="request-city" type="text" class="validate">
                            <label for="request-city">City</label>
                        </div>
                        <div class="input-field col s2">
                            <input id="request-state" type="text" class="validate">
                            <label for="request-state">State</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="request-zipcode" type="text" class="validate">
                            <label for="request-zipcode">Zip Code</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4">
                            <p>Available Start Time:</p>
                        </div>
                        <div class="col s4">
                            <label for="request-beginDate">Begin Date</label>
                            <input type="text" id="request-beginDate" class="datepicker">
                        </div>
                        <div class="col s4">
                            <label for="request-beginTime">Begin Time</label>
                            <input type="text" id="request-beginTime" class="timepicker">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4">
                            <p>Available End Time:</p>
                        </div>
                        <div class="col s4">
                            <label for="request-endDate">End Date</label>
                            <input type="text" id="request-endDate" class="datepicker">
                        </div>
                        <div class="col s4">
                            <label for="request-endTime">End Time</label>
                            <input type="text" id="request-endTime" class="timepicker">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn waves-effect waves-light blue darken-3" type="submit"><i class="material-icons right">send</i>submit</button>
            </div>
        </form>
    </div>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <nav class="nav-color blue lighten-4">
        <div class="footer-copyright row">
            <div class="col m6 push-m3 s12 center-align blue-grey-text darken-4">
            © 2019 Copyright onecommunity
            </div>
            <div class="col m6 hide-on-small-only hide-on-med-and-down right-align">
              <a class="waves-effect waves-light btn modal-trigger blue darken-3" href="#modal1">Contributions</a>
            </div>
        </div>
        </nav>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    {{#each importedScripts}}
    <!-- Partial Start: {{this.partial}} -->
    {{> (partial this.partial)}}

    <!-- Partial End: {{this.partial}} -->

    {{/each}}
    <script>
        {{#each scripts}}
        // Partial Start: {{this.partial}}
        {{> (partial this.partial) options=this}}

        // Partial End: {{this.partial}}

        {{/each}}
    </script>

    <script>

    $('.sidenav').sidenav();
    $('select').formSelect();
    $('.modal').modal();
    $('textarea').characterCounter();
    M.updateTextFields();

    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems, {
        defaultDate: new Date(),
        format: 'yyyy-mm-dd'
    });

    var elems = document.querySelectorAll('.timepicker');
    var instances = M.Timepicker.init(elems, {
        defaultTime: 'now',
        twelveHour: false
    });

    var mybutton = document.getElementById("myBtn");
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target.className === 'modal') {
            M.Modal.getInstance(event.target).close();
        }
    }

    $('#signup-form').on('submit', function (jqueryEvent) {
        jqueryEvent.preventDefault();

        $.post(
            '/auth/signup',
            $(this).serialize(),
            function (data) {
                window.location.reload();
            }
        );
    });

    $('#login-form').on('submit', function (jqueryEvent) {
        jqueryEvent.preventDefault();

        $.post(
            '/auth/login',
            $(this).serialize(),
            function (data) {
                window.location.reload();
            }
        );
    });

    $('#provide-service-form').on('submit', function (jqueryEvent) {
        jqueryEvent.preventDefault();

        var serviceId = parseInt($('#providedService-services').val());
        var categoryId;
        if (serviceId >= 1 && serviceId <= 6) categoryId = 1;
        else if (serviceId >= 7 && serviceId <= 9) categoryId = 2;
        else if (serviceId >= 10 && serviceId <= 20) categoryId = 3;
        else if (serviceId >= 21 && serviceId <= 25) categoryId = 4;
        else if (serviceId >= 26 && serviceId <= 29) categoryId = 5;
        else if (serviceId === 30) categoryId = 6;

        var startDateTime = $('#providedService-beginDate').val() + ' ' + $('#providedService-beginTime').val() + ':00';
        var endDateTime = $('#providedService-endDate').val() + ' ' + $('#providedService-endTime').val() + ':00';
        $.post(
            '/api/provided-services',
            {
                start_date: startDateTime,
                end_date: endDateTime,
                UserId: {{#if session_user}}{{session_user.id}}{{else}}-1{{/if}},
                ServiceId: serviceId,
                ServiceCategoryId: categoryId
            },
            function (data) {
                window.location.reload();
            }
        );
    });

    $('#request-service-form').on('submit', function (jqueryEvent) {
        jqueryEvent.preventDefault();

        var serviceId = parseInt($('#request-services').val());
        var categoryId;
        if (serviceId >= 1 && serviceId <= 6) categoryId = 1;
        else if (serviceId >= 7 && serviceId <= 9) categoryId = 2;
        else if (serviceId >= 10 && serviceId <= 20) categoryId = 3;
        else if (serviceId >= 21 && serviceId <= 25) categoryId = 4;
        else if (serviceId >= 26 && serviceId <= 29) categoryId = 5;
        else if (serviceId === 30) categoryId = 6;

        var startDateTime = $('#request-beginDate').val() + ' ' + $('#request-beginTime').val() + ':00';
        var endDateTime = $('#request-endDate').val() + ' ' + $('#request-endTime').val() + ':00';
        $.post(
            '/api/requests',
            {
                detail: $('#request-details').val(),
                hide_address: ($('#request-hide-address').prop('checked')) ? 1 : 0,
                address: $('#request-address').val(),
                city: $('#request-city').val(),
                state: $('#request-state').val(),
                zipcode: parseInt($('#request-zipcode').val()),
                start_date: startDateTime,
                end_date: endDateTime,
                UserId: {{#if session_user}}{{session_user.id}}{{else}}-1{{/if}},
                ServiceId: serviceId,
                ServiceCategoryId: categoryId
            },
            function (data) {
                window.location.reload();
            }
        );
    });
</script>

</body>
</html>