<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>One Community</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    {{#each importedCss}}
    <!-- Partial Start: {{this}} -->
    {{> (partial this)}}

    <!-- Partial End: {{this}} -->

    {{/each}}
</head>

<body>

<header>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">onecommunity</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">Javascript</a></li>
                <li><a class="waves-effect waves-light btn modal-trigger" href="#modal1">contributions</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
    </ul>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4 class="blue-text">Contributors</h4>
            <p><a href="https://www.freepik.com/free-photos-vectors/background" target="_blank">Background photo created by jcomp - www.freepik.com</a></p>
        </div>
<!--        <div class="modal-footer">-->
<!--            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>-->
<!--        </div>-->
    </div>

</header>

<main>
    {{{body}}}
</main>

    <footer>
        <nav>
        <div class="footer-copyright">
            <div class="container">
                © 2019 Copyright onecommunity
<!--                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
            </div>
        </div>
        </nav>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    {{#each importedScripts}}
    <!-- Partial Start: {{this}} -->
    {{> (partial this)}}

    <!-- Partial End: {{this}} -->

    {{/each}}
    <script>
    {{#each scripts}}
    // Partial Start: {{this}}
    {{> (partial this)}}

    // Partial End: {{this}}

    {{/each}}
    </script>

<script>
    $(document).ready(function(){
    $('.sidenav').sidenav();
    });

    $(document).ready(function(){
        $('.modal').modal();
    });

</script>

</body>
</html>