<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>One Community</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    {{#each importedCss}}
    <!-- Partial Start: {{this}} -->
    {{> (partial this)}}

    <!-- Partial End: {{this}} -->

    {{/each}}
</head>

<body>

<header>
    <nav class="nav-color blue lighten-4">
        <div class="nav-wrapper ">
            <a href="/" class="brand-logo">onecommunity</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

            <ul class="right hide-on-med-and-down">
                <li> <a class="waves-effect waves-light btn modal-trigger blue darken-3" href="#modal3">Provide a service</a></li>
<!--                <button data-target="modal3" class="btn modal-trigger blue darken-3">Provide a service</button>-->
                <li><a class="waves-effect waves-light btn modal-trigger blue darken-3" href="#modal4">Request a service</a></li>
<!--                <button data-target="modal4" class="btn modal-trigger blue darken-3">Request a service</button>-->
                <li><a href="/browse">Browse</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a class="waves-effect waves-light btn modal-trigger blue darken-3" href="#modal2"><i class="material-icons left">account_box</i>Sign up | Login</a></li>

            </ul>
        </div>
    </nav>

    <ul class="sidenav nav-color" id="mobile-demo">
        <li><a href="/browse">Browse</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li> <a class="waves-effect waves-light btn modal-trigger blue darken-3" href="#modal3">Provide a service</a></li>

        <li><a class="waves-effect waves-light btn modal-trigger blue darken-3" href="#modal4">Request a service</a></li>

        <li><a class="waves-effect waves-light btn modal-trigger blue darken-3" href="#modal2">Sign up | Login</a></li>

        <li><a class="waves-effect waves-light btn modal-trigger blue darken-3" href="#modal1">Contributions</a></li>
    </ul>

    <!-- Modal Structure 1  CREDIT FOR BACKGROUND IMAGE-->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4 class="blue-text">Contributors</h4>
            <p><a href="https://www.freepik.com/free-photos-vectors/background" target="_blank">Background photo created by jcomp - www.freepik.com</a></p>
        </div>
    </div>


    <!-- Modal Structure 2 SIGN UP | REGISTER-->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <form class="modal-content animate" action="/action_page.php" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('modal2').style.display='none'" class="close" title="Close Modal">&times;</span>
      
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
        
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('modal2').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>


</header>

<main>
    {{{body}}}
</main>

    <footer>
        <nav class="nav-color blue lighten-4">
        <div class="footer-copyright row">

            <div class="col m6 push-m3 s12 center-align">
            © 2019 Copyright onecommunity
            </div>
            <div class="col m6 hide-on-small-only hide-on-med-and-down right-align">
              <a class="waves-effect waves-light btn modal-trigger blue darken-3" href="#modal1">Contributions</a>
            </div>


        </div>
        </nav>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    {{#each importedScripts}}
    <!-- Partial Start: {{this}} -->
    {{> (partial this)}}

    <!-- Partial End: {{this}} -->

    {{/each}}
    <script>
    {{#each scripts}}
    // Partial Start: {{this}}
    {{> (partial this)}}

    // Partial End: {{this}}

    {{/each}}
    </script>

<script>

    $('.sidenav').sidenav();

    $('.modal').modal();

    $(document).ready(function() {
        M.updateTextFields();
    });

    var mybutton = document.getElementById("myBtn")
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    // Get the modal
    var modal = document.getElementById('modal2');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    
</script>

</body>
</html>